
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Taşınmazlar
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="tasinmazs">Taşınmazları Listele</a></li>
              <li><a class="dropdown-item" href="tasinmazs/add">Taşınmaz Ekle</a></li>
              <!-- <li><a class="dropdown-item" href="#">Something else here</a></li> -->
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="map">Harita</a>
        </li>
        <app-cart-summary></app-cart-summary>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
        
      </ul>
      <form class="d-flex">
        <button class="btn btn-danger my-2 my-sm-0" (click)="onLogout()">Çıkış Yap</button>
      </form>
    </div>
  </div>
</nav>
