<div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<table *ngIf="dataLoaded==true" class="table">
  <thead>
    <tr>
      <th>Il Numarası</th>
      <th>Taşınmaz Adı</th>
      <th>Ilce Numarası</th>
      <th>Taşınmaz Numarası</th>
    </tr>
  </thead>
  <tr *ngFor="let tasinmaz of tasinmazs">
    <td>{{ tasinmaz.ilId }}</td>
    <td>{{ tasinmaz.tasinmazAdi }}</td>
    <td>{{ tasinmaz.ilceId }}</td>
    <td>{{ tasinmaz.tasinmazId }}</td>
  </tr>
</table>
