
<div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
  <span class="visually-hidden">Yükleniyor...</span>
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Taşınmaz ara</label>
  <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="arama ifadesi giriniz">
</div>
<div *ngIf="filterText" class="alert-primary">
  {{filterText}} aradınız
</div>
<table *ngIf="dataLoaded==true" class="table">
  <thead>
    <tr>
      <th>Il Numarası</th>
      <th>Taşınmaz Adı</th>
      <th>Ilce Numarası</th>
      <th>Taşınmaz Numarası</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let tasinmaz of tasinmazs |filterPipe:filterText">
      <td>{{ tasinmaz.ilId }}</td>
      <td>{{ tasinmaz.tasinmazAdi }}</td>
      <td>{{ tasinmaz.ilceId }}</td>
      <td>{{ tasinmaz.tasinmazId }}</td>
      <td><button (click)="addToCart(tasinmaz)" type="button" class="btn btn-success">Sepete Ekle </button></td>
      <td><button (click)="delete(tasinmaz)" type="button" class="btn btn-danger">Taşınmazı Sil </button></td>
    </tr>
  </tbody> 
</table>

